.input{
    border: none;
    border-bottom: 2px solid #F65858;
    padding: 1em;
    outline: none;
    font-size:1.5em;
}

.margin {
    margin-right: auto ;
    margin-left: 1em;
    margin-top: 2em;
}

.cardComponent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:gray;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  } 
  
  .button:hover{
    opacity: 0.8;
  }

  .btnLink{
    color: white;
  }

  .btnLink:hover{
    color:wheat ;
    text-decoration: none;
  }