.container{
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
    padding: 2rem 0;    
    justify-content: space-between;
    align-items: center;
    color:#F65858
}

.container h2{
    font-size: 2rem;
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav li{
    margin-left: 2em;
    font-size: 1.5rem;
}

.link{
    color:#F65858;
    text-decoration: none;
}

.link:hover{
    color: #F65858;
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none !important;
}