.form {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color:#F65858
}

.col1,
.col2 {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 100%;
}
.col2{
    justify-content: flex-start;
}

@media (max-width:860px){
    .form{
        flex-direction: column;
    }
    .col1, .col2 {
        width: 90%;
        margin: auto;
    }
}
